@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.wholePage{
    display: flex;
    justify-content: center;
   }
.chart{
    margin: 3%;
    padding: 3%;
    height: 85vh;
    width: 40%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    max-width: 60rem;
    min-width: 20rem; 
}
.date{
    /* border: 1px solid blue; */
    text-align: right;
    font-size: 1rem;
}
.header{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}
.title{
    /* border: 1px solid green; */
    margin-left: 5%;
    font-size: 2rem;
}
.refresh{
    /* border: 1px solid orange; */
    margin-right: 5%;
    font-size: 2rem;
}
.selectors{
    /* border: 1px solid purple; */
    flex-direction: row;
    align-self: flex-end;
}
.brand{
    /* border: 1px solid grey; */
}
input{
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 2em;
}
.topFive{
    /* border: 1px solid powderblue; */
    height: 78vh;
}
.ranking{
    display: flex;
    flex-direction: row;
}
.image{
    /* border: 1px solid pink; */
    height: 15vh;
    width: 15%;
}
.post{
    /* border: 1px solid sienna; */
    width: 85%;
}
#first{
    /* border: 1px solid yellow; */

}
#second{
    /* border: 1px solid goldenrod; */
    background-color: #fafbff;
}
#third{
    /* border: 1px solid yellow; */
}
#fourth{
    /* border: 1px solid goldenrod; */
    background-color: #fafbff;
}
#fifth{
    /* border: 1px solid yellow; */
}
